/* for univversal */
*{
    padding: 0px;
    margin: 0px;
    
    font-family: 'Baloo Bhai';
   
    }
    .logo_font{
        font-family: 'Lobster';
        color: rgb(255, 187, 0) !important;
    }
#nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

#nav .logo{
    width: 20%;
    height: 100%;
    
}
#nav .logo h1{
    font-size: 50px;
    font-family: 'Lobster';
    color: rgb(255, 187, 0) !important;
    margin-top: 0.30em;
    margin-left: 0.90em;
}
#nav .elements{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .social_links{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

#nav .elements a{
    color: black;
    text-decoration: none;
    font-size: 1.40em;    
    margin: 0px 13px;
}
#nav .social_links .fa{
    color: black;
    margin-right: 3em;
    font-size: 1.4em;
}
#nav .social_links input{
   padding: 2px 5px;
   width: 14em;
   margin-right: 5px;
   display: none;
}
@media (max-width: 1564px) {
    #nav .logo h1 {
    
      color: black !important;
      
    }
  }

/* second nav */
#second_nav{
    display: none;
    
}
#second_nav #logo{
    color: rgb(255, 187, 0);
}
#navbar-toggler{
    background-color: #36454F;
} 



/* main continer */


#main_container .main_row .main_col_1 h1{
    text-align: center;
    font-size: 3em;
    padding: 0.5em 0;
}
#main_container .main_row .main_col_1 .img{

     height: 40rem;
}
#main_container .main_row .main_col_1 .img img{
    width: 100%;
    height: 100%;
    
}
#main_container .main_row .main_col_1 p{
    color: gray;
    margin-top: 1em;
}
#main_container .main_row .main_col_1 .pic_row .img2{

    height: 20em;
}
#main_container .main_row .main_col_1 .pic_row .img2 img{
    width: 100%;
    height: 100%;
}
#main_container .main_row .main_col_2 {
    position: relative;
}
#main_container .main_row .main_col_2 .detail{
   
   position: fixed;
   
  
   
}
#main_container .main_row .main_col_2 .detail h5{
    margin-top: 1em;
    font-size: 2em;
}
#main_container .main_row .main_col_2 .detail input{
   font-size: 1.1em;
   padding: 2px 5px;    
   margin-top: 0.5em;
   border: none;
   border: 2px solid rgb(255, 187, 0);
   outline: none;
}
#main_container .main_row .main_col_2 .detail button{
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 187, 0);
    margin-top: 1em;
    color: white;
}
#main_container .main_row .main_col_2 .detail span{
    font-size: 1.1em;
    color: gray;
}
#main_container .main_row .main_col_2 .detail .fa{
    color: rgb(255, 187, 0);
    font-size: 1.2em; 
    margin-right: 10px; 
}
#main_container .main_row .main_col_2 .extra{
    height: 30em;
    border: 1px solid green;
}





    
    /* footer */
    #footer{
        
        height: 25rem;  
        background: linear-gradient(to top, #0d0d33, #000000);
    }
  
    #footer .row  .col-12{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #footer .row1  .col-12 span{
        font-size: 2em;
        color: white;
        margin-top: 3em;
    }
    #footer .row2  .col-12 a{
        text-decoration: none;
        color: white;
        margin: 2em 1.2em;
    }
    #footer .row3  .col-12 i{
        color: white;
        padding: 0.8em;
        border: 1px solid  white;
        border-radius: 100%;
        margin: 0em 0.3em;
        font-size: 1.2em;         
    
    }
    #footer .row4 .col-12{
        margin-top: 2em;
        border-top: 1px solid white;
    }
    #footer .row4 .col-12 p{
        color: white;
        padding-top: 1em;

    }

